h1 { 
    color: #24bae8; 
    margin-top: 0.5rem;
}
#about { 
    text-align: center;
    font-size: 0.9rem; 
}
.lg-divider { 
    margin: 1rem auto;
    background-color: #24bae8;
    height: 2px;
    width: 5%;
}
.sm-divider { 
    margin: 1rem auto;
    background-color: #24bae8;
    height: 2px;
    width: 2%;
}
.tab-content-one { 
    font-size: 0.9rem; 
    padding: 20px;
}
.tab-content-two { 
    font-size: 0.9rem; 
    padding: 20px;
}
.tab-content-three { 
    font-size: 0.9rem; 
    padding: 20px;
}
div.row { 
    margin: auto;
    width: 70%;
    padding: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #24bae8 !important;
}
.tab-content>.active {
    background-color: white;
    border-radius: .25rem;
}